.point
{
	opacity: 0.6;
	stroke: black;
	
}
	
.point:hover
{
	fill: red;
	opacity: 1;
}

div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 100px;					
    height: 28px;					
    padding: 2px;				
    font: 14px sans-serif;
	font-weight:bold;
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
